API_KEY=sua_api_key_aqui

PORTA_URL=https://sua-api.com/porta
TEMPERATURA_URL=https://sua-api.com/temperatura
MOTOR2_URL=https://sua-api.com/motor2

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/seu-webhook-discord