# API Sandbox do Hackathon BEM
API_BASE_URL=https://desafio.beminteligencia.com.br/api/v1
API_KEY=seu_token_aqui

# Google Sheets Integration
GOOGLE_SHEET_NAME=FrostGuard_Data
GOOGLE_CREDS_FILE=credentials.json

# Alertas Automáticos (Discord / Telegram Webhook)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/sua_url_aqui
